NULL [RFC2410]

Hi,

We were using the solution successfully until a few days ago, but it stopped working.
We noticed that we were previously receiving AES-CBC-128 [RFC3602]:

STATE 1 (retry 1 with cookie):
------- -------
NAT SOURCE 343dc3cc55ebdbbe48a010e200b4b511642098ee
NAT DESTINATION 6b6ba2fba969f6d8b3e6ccd20e0f5b4dadce565c
sending IKE_SA_INIT
received decoded message:
[[33, [3, 1, b'']], [34, [2, b'\xc5\xe7\x02%\xc6\x90\xcd\x87\xd2\x86\xab\x97F.x\x07\x9e<y4F1I\xf2\xe7\xc0\x12\x86Rv\xbcO\xd2\x97fh\x9e\xb8\xce\xebi\xeaD}\xd6d TzZ{\xf4%\xf9\x89he\x15z\t\x85c\x04~\xf6\x98\xef\xd9\xd6\x99\x04\xcd\\\x9b20\x9e6\xb5R;u\xfc\xa0$\xc7\x9c\xf3\xe9\x9bK\xb4\xc1JXJG=\x12\xd0$0!U^\xfe\x1a\x17\r\x92\xae\xf0\x16S\xcc\x9bye;\x19\xf7fd\x1b9t\x1fw']], [40, [b'\x13\xd7oh\x8b\x082\xcf\xa0&\x89\x17Um\xa1|']], [41, [1, 16388, b'', b'\x95\x07\xee\x9d\xc1\xcc\x07\x06\x9e\xdd\xb4\x82Q\t\xee\xde\xf1&T\x19']], [41, [1, 16389, b'', b'\x1c\x9cP\xf0\xc7\x07\xcb\xb8`s\xe0\xa7\x93/;\x94\x0c\x18Y\xf8']]]
received IKE_SA_INIT
DIFFIE-HELLMAN KEY 05a744f57e569ba55bddd9be11c29427d9931052e5c7669096edd986498269108d630d4000b6dd1f2661e1c7cd5202c2975bf2a7daef0b7ab96c588cd0deb5e9a634cbfde9cd1cdb1eaaa0a4c87a602a6e28ffdcde01fbe5d12e960cca30e0fd614f4cfc8123fe860ffc388476ebeceda0ca84be865c3b4aa05206e56f559d33
NAT SOURCE RECEIVED 9507ee9dc1cc07069eddb4825109eedef1265419
NAT SOURCE CALCULATED 9507ee9dc1cc07069eddb4825109eedef1265419
NAT DESTINATION RECEIVED 1c9c50f0c707cbb86073e0a7932f3b940c1859f8
NAT DESTINATION CALCULATED 43595b4789c9d1c4b8c680075573406dacf40bab
SKEYSEED c3a1c961dc63ca95c3312f8e0d25dad0ea91bea3
STREAM 9eb312274f90f04d0b2cbbe00c61aedd13d76f688b0832cfa0268917556da17ccb9c4328e1b7d5e8837986ef08a4e033
SK_D 404c1f0cd42872c7e5a0e0546a7df9423e44b8af
SK_AI 42644730b7cdbab9010775d6fdda1c2c77f75de7
SK_AR 93ce021efa0a975248b9f3f81cb3d5c2e39dc8ba
SK_EI 133adbad4a1e7ff4f796d8955c262f77
SK_ER 7d1340b8eaa6c0285840f549021ebb74
SK_PI 9018dc229679193c4b0d1d8efd948c7f6b3d8c4c
SK_PR 2f9a656628401ca58ace7b17307f0c271534c9aa
IKEv2 DECRYPTION TABLE INFO (Wireshark):
cb9c4328e1b7d5e8,837986ef08a4e033,133adbad4a1e7ff4f796d8955c262f77,7d1340b8eaa6c0285840f549021ebb74,"AES-CBC-128 [RFC3602]",42644730b7cdbab9010775d6fdda1c2c77f75de7,93ce021efa0a975248b9f3f81cb3d5c2e39dc8ba,"HMAC_SHA1_96 [RFC2404]"
837986ef08a4e033,cb9c4328e1b7d5e8,7d1340b8eaa6c0285840f549021ebb74,133adbad4a1e7ff4f796d8955c262f77,"AES-CBC-128 [RFC3602]",93ce021efa0a975248b9f3f81cb3d5c2e39dc8ba,42644730b7cdbab9010775d6fdda1c2c77f75de7,"HMAC_SHA1_96 [RFC2404]"
IKE SPI INITIATOR cb9c4328e1b7d5e8
IKE SPI RESPONDER 837986ef08a4e03356i 

--------------------------------------------------------------
But now we're receiving NULL [RFC2410], no SK_EI/SK_ER and NO EAP PAYLOAD Received:

ims-invite  | STATE 1 (retry 1 with cookie):
ims-invite  | ------- -------
ims-invite  | NAT SOURCE 2a5833a7075edebfef30467bbe1470c731d324f1
ims-invite  | NAT DESTINATION aff3c819cdeaed4ad10011263334289e8fb3a1b5
ims-invite  | sending IKE_SA_INIT
ims-invite  | received decoded message:
ims-invite  | [[33, [1, 1, b'']], [34, [2, b'A\xd7\x9b8\x85P\x0f\xb68\xdc\xea\xffa\x8f\x9a(\xc1\xc2\xf4r>+3Y@\x1d\x8b\xf5\xb4,^\x1d$\xd8\\[\xfa\'Q\x81\xd2\xf2\xb2f\xb22Wa\x903\x97h\xfa\xbd\xfd7\x84\x16v\xb9b`\xd6A\xfe8\xbez\xbc)\xa3VS\xf8\xa6Y\\\x82\xf4\x8e\x01\xc4\xbc\xed;|\x9fqYn\x16\x7f\xd2\xc3\x9a\xfb\x89"c\xf8\xab\xa25\x04I\x00^j\xa8\xfd\x18E\xa3\x99\x0f\xd7~rf\xf6\x8d\x08\x14f\xf0\x00\xc2\xe7']], [40, [b"\xde\xeda$Xs\xaf'\xcb\xdf5\x0cN\x10F\xae"]], [41, [1, 16388, b'', b'9\xb4S#"\xae\x9a^p\xa1f\xac\xbd\x8d\xf4\x8e\x93o\x92a']], [41, [1, 16389, b'', b'\x01\xd6\xdc\xb4\x04\xbc\xa5v\x07\x0b\xc7\x86,\xceg\x12\xfa\x03\xadW']]]
ims-invite  | received IKE_SA_INIT
ims-invite  | DIFFIE-HELLMAN KEY 39dbe841fb552b5a49d8d8827202a982c840f7d9966210a7958641488cd20c29ffe3ae1da2cc6b34d17d49e9eacf1690328a1196749e3e3151f0d99ec3e8996a692989f087063cc53bdffba90de8a1b13587da74717563b3bb553f109f352bba65b4a82ca1354716a30e4b7766ce76904b3b62eb2c40c1413e3adf7c2aada217
ims-invite  | NAT SOURCE RECEIVED 39b4532322ae9a5e70a166acbd8df48e936f9261
ims-invite  | NAT SOURCE CALCULATED 39b4532322ae9a5e70a166acbd8df48e936f9261
ims-invite  | NAT DESTINATION RECEIVED 01d6dcb404bca576070bc7862cce6712fa03ad57
ims-invite  | NAT DESTINATION CALCULATED 25809b28693d6bfa1b1e67be62c662c404ab204f
ims-invite  | SKEYSEED dfdff09f58fb5d1515dd23c30f7e267c908a44d9
ims-invite  | STREAM 402b2c58e33d382ff474b111302dd786deed61245873af27cbdf350c4e1046ae6cac04b7fe878b1cd6ad269a02b526a1
ims-invite  | SK_D c643543c1730c441fc664f2013c4f20fb7065e00
ims-invite  | SK_AI 0c6e615123e33cc2ded8c80734e6875c0928b73b
ims-invite  | SK_AR 5a2c8c8ca5e864f0fd356d57545607c2788977be
ims-invite  | SK_EI
ims-invite  | SK_ER
ims-invite  | SK_PI 68ffb3ab05642ac405b681d2aa732c5fe397d63f
ims-invite  | SK_PR 6765d9742ee689c4ed7270cc4fa1c9d313475caf
ims-invite  | IKEv2 DECRYPTION TABLE INFO (Wireshark):
ims-invite  | 6cac04b7fe878b1c,d6ad269a02b526a1,,,"NULL [RFC2410]",0c6e615123e33cc2ded8c80734e6875c0928b73b,5a2c8c8ca5e864f0fd356d57545607c2788977be,"HMAC_SHA1_96 [RFC2404]"
ims-invite  | d6ad269a02b526a1,6cac04b7fe878b1c,,,"NULL [RFC2410]",5a2c8c8ca5e864f0fd356d57545607c2788977be,0c6e615123e33cc2ded8c80734e6875c0928b73b,"HMAC_SHA1_96 [RFC2404]"
ims-invite  | IKE SPI INITIATOR 6cac04b7fe878b1c
ims-invite  | IKE SPI RESPONDER d6ad269a02b526a1

-------------------------------------------------------------------------------------

Any ideas?